<div style="margin-left: 10px; margin-right: 10px">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-md-3">
        <h3 style="font-size: 20px">{{ "Staff" | translate }}</h3>
      </div>

      <!-- <div
        class="col-lg-9 col-sm-9 col-md-9"
        style="text-align: -webkit-right; text-align: -moz-right"
      >
        <div class="input-group m-b">
          <div class="col-lg-3 col-sm-3 col-md-3">
            <a>
              <button class="btn btn-primary" (click)="openDialog([], 'new')">
                Add New Staff
              </button>
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="row" *ngIf="tabelData !== undefined">
    <div class="col-lg-6 col-sm-6 col-md-6">
      <div class="input-group m-b">
        <span
          class="input-group-addon"
          style="
            padding: 0 15px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          "
        >
          <i class="fa fa-search fa-1x" aria-hidden="true"></i>
        </span>
        <span>
          <ng-autocomplete
            matInput
            (keyup)="doFilter($event.target.value)"
            placeHolder="{{ 'Search Staff by Name, Mobile' | translate }} "
          >
          </ng-autocomplete>
          <!-- 
          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
          <span
            style="font-size: 30px; margin-left: -30px; cursor: pointer"
            *ngIf="showsearchcnacel == true"
          >
            <i class="fa fa-times"></i>
          </span> -->
        </span>
      </div>
    </div>
    <!-- ----------- -->
    <div
      class="col-lg-3 col-sm-3 col-md-3"
      style="margin-right: 20px"
      data-toggle="modal"
      (click)="openDialog([], 'new')"
    >
      <a href="javascript:">
        <button class="btn btn-primary createjobcard">
          {{ "Add New Staff" | translate }}
        </button>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <!-- <div
        class="mat-elevation-z8"
        *ngIf="this.datasource.data.length == 0"
        style="margin-top: 2rems; overflow-x: hidden; border-radius: 8px"
      >
        <div
          class="col-lg-12 col-sm-12 col-md-12 text-center"
          *ngIf="tabelData == undefined"
          style="font-weight: bold; padding: 10px 0px 10px 0px; font-size: 29px"
        >
          <span> No Records Found </span>
        </div>
      </div> -->

      <div class="mat-elevation-z8" *ngIf="this.datasource.data.length > 0">
        <table
          mat-table
          [dataSource]="datasource"
          matSort
          class="mat-elevation-z12"
          style="font-family: Open sans; width: 100%"
        >
          <ng-container matColumnDef="id">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="web-show"
            >
              <span class="mat-title-ctm"> {{ "Sr.No." | translate }}</span>
            </th>
            <span class="web-show">
              <td
                mat-cell
                class="web-show"
                *matCellDef="let element; let i = index"
              >
                {{ i + 1 }}
              </td>
            </span>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="mat-title-ctm"> {{ "Name" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="mobile-label"> {{ "Name" | translate }} :</span>
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="mobile_no_1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="mat-title-ctm">
                {{ "Mobile Number" | translate }}</span
              >
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="mobile-label">
                {{ "Mobile Number" | translate }}:</span
              >
              {{ element.mobile_no_1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="web-show"
            >
              <span class="mat-title-ctm"> {{ "Address " | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element" class="web-show">
              {{ element.address }}
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="web-show"
            >
              <span class="mat-title-ctm">
                {{ "Staff Type " | translate }}</span
              >
            </th>
            <td mat-cell *matCellDef="let element" class="web-show">
              {{ element.type }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
              <span class="mat-title-ctm"> {{ "Action" | translate }}</span>
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="color: #c30707; font-weight: bold"
            >
              <span class="mobile-label">{{ "Action" | translate }}:</span>
              <span>
                <i
                  matTooltip=" {{ 'Edit Staff' | translate }}"
                  (click)="openDialog(element, 'edit')"
                  class="fa fa-pencil"
                  aria-hidden="true"
                  style="cursor: pointer; padding: 9px"
                ></i>
                <i
                  matTooltip="  {{ 'Delete Staff' | translate }}"
                  (click)="onDeleteStaff(element.id)"
                  class="fa fa-times"
                  aria-hidden="true"
                  style="cursor: pointer"
                ></i>
              </span>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <div
        class="mat-elevation-z8"
        *ngIf="tabelData == undefined"
        style="
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
            0px 0px 2px 2px rgba(0, 0, 0, 0.14),
            0px 0px 4px 4px rgba(0, 0, 0, 0.12);
          overflow-x: hidden;
          border-radius: 8px;
        "
      >
        <div
          class="col-lg-12 col-sm-12 col-md-12 text-center"
          *ngIf="tabelData == undefined"
          style="
            font-weight: bold;
            padding: 10px 0px 10px 0px;
            font-size: 29px;
            color: black;
          "
        >
          <span> {{ "No Records Found" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
