.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  .tableFixHead          { overflow-y: auto; height: 200px; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

.mat-cell{
  font-size: 14px;
  min-height: 48px;
  /* text-align: center; */
  /* border-right: 1px solid black; */
  padding: 4px;
}
.mat-header-cell{font-weight: bold; font-size: 14px;
  min-height: 48px;padding: 4px;}
.mat-elevation-z8 {
  overflow-x: scroll;
  max-height: 500px;
}