.mat-header-cell {
  font-weight: bold;
}

.mat-elevation-z8 {
  overflow: scroll;

  display: flex;

  flex-direction: column;
}

.mobile-label {
  display: none;
}
.mat-header-cell {
  background: #eee;
}
.trim {
  display: none;
}
.insert-web-paddding {
  padding: 1px;
}

@media (max-width: 600px) {
  .mobile-label {
    /* width: 10rem; */
    display: inline;
    font-weight: bold;
  }
  .insert-web-paddding {
    padding: 0;
  }
  /* tr */
  tr.mat-header-row {
    display: none;
  }
  .not-trim {
    display: none;
  }

  .trim {
    display: block;
  }
  /* tr */
  tr.mat-row {
    flex-direction: column;
    align-items: start;
    padding: 2em 0;
  }
  /* .mat-cell {
      font-size: 14px;
      min-height: 25px;
      padding: 2px 22px;
      text-transform: inherit;
    } */

  /* td */
  td.mat-cell {
    font-size: 15px;
    min-height: 25px;
    padding: 2px 22px;
    text-transform: inherit;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  /* mat-row tr */
  tr.mat-row:nth-child(even) {
    background-color: #eee;
    padding-top: 20px;
  }
  .mat-footer-row,
  .mat-row {
    min-height: 0;
  }
  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    border-bottom-style: none;
  }
}
