<app-spin></app-spin>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row justify-content-center" >
    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
        <mat-card class="card-center">
            <div class="row">
                <div class="col-sm-3">
                    <img class="card-img" src="../../../../assets/images/lock.png" >
                </div>
                <div class="col-sm-9">
                    <h1 class="h1-text">Access Denied!</h1><br>
                </div>
                <div class="col-sm-12 card-description">
                    <h3 class="h3-text-01">You do not have access to this area of the application.</h3>
                    <h3 class="h3-text-00">Contact your administrator to allow this feature.</h3>
                </div>
            </div>
        </mat-card>
    </div>
    </div>
</div>