<div class='status-pay' style="text-align: center; padding: 200px;">
  <i style="font-size: 105px;
  color: #5ede5e;" class="fa fa-check-circle"></i>
  <p style="font-size: 24px;
  color: #5ede5e;
  font-family: Open sans;">{{ 'Payment Successful' | translate }}. </p>
  <span style="font-size: 16px;
  font-family: Open sans;">{{ 'Please Wait... You Will be redirected to Site Automatically' | translate }}</span>
</div>




<!-- <div 
*ngIf= "status === 'PAID'"
class='status-pay' style="text-align: center; padding: 200px;">
  <i style="font-size: 105px;
  color: #5ede5e;" class="fa fa-check-circle"></i>
  <p style="font-size: 24px;
  color: #5ede5e;
  font-family: Open sans;">{{ 'Payment Successful' | translate }}. </p>
  <span style="font-size: 16px;
  font-family: Open sans;">{{ 'Please Wait... You Will be redirected to Site Automatically' | translate }}</span>
</div>

<div
*ngIf= "status === 'UNPAID'"
class='status-pay' style="text-align: center; padding: 200px;">
  <i style="font-size: 105px;
  color: #ec1505;" class="fa fa-times-circle"></i>
  <p style="font-size: 24px;
  color: #ec1505;
  font-family: Open sans;">{{ 'Payment Failed' | translate }}. </p>
  <span style="font-size: 16px;
  font-family: Open sans;">{{ 'Please Wait... You Will be redirected to Site Automatically' | translate }}</span>
</div> -->
