<div class="row">
    <div class="text-center col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <label class="control-label txt_lbl" style="font-weight: 700;font-size: 14px">{{'Whats New' | translate}}</label>
        <ul style="text-align: left;
        list-style-type: disc !important;     margin-top: 6px;">
            <li>{{'Show Total Discount in Rs. if User Enable Item Wise Discount' | translate}}</li>
            <li>{{'Show Only Discount Field in both Rs and % if user Disable Item Wise Discount' | translate}}</li>
            <li>{{'Added One column in inventory table to show Total amount before discount' | translate}} </li>
        </ul>
        <div style="margin-top: 18px;">
            <span (click)="updateStatus()" style="font-size: 13px;
            color: #fff;
            background-color: #c30707;
            cursor: pointer;
            padding: 8px 10px 10px 10px;
            border-radius: 5px;
            margin-left: 6px;">
                {{'Update App' | translate}}
            </span>
        </div>
    </div>
</div>

