<div class="closepoup" style="float: right;  margin-right: 10px;">
    <label (click)="closePopup(false)" class="btn btn-white cir" style="padding: 1px 4px;
    background: none;
    border: none;"><i class="fa fa-times fa-2x" aria-hidden="true"></i></label>
</div>
<div class="row">
    <div class="col-sm-12">
        <form novalidate class="form-horizontal" [formGroup]="OTPForm">
            <div class="row" style="padding: 13px;">
                <div class="col-sm-12">
                    <div *ngIf="flagupdate=='no'" style="    margin-left: 3px;
                    font-size: 14px;
                    font-weight: bold;
                    color: #c30707;">
                        <span>{{'OTP Sent on Registered Mobile Number' | translate}}</span>
                    </div>
                    <label class="control-label txt_lbl">{{'Enter OTP' | translate}}*</label>
                    <input type="text" class="form-control cir" formControlName="otp">
                    <div *ngIf=" submitted  && OTPForm.controls['otp'].errors" class="text-danger">
                        <div *ngIf="OTPForm.controls['otp'].errors.required">
                        {{'OTP is required' | translate}}.
                        </div>
                        <div *ngIf="OTPForm.controls['otp'].errors.pattern">
                            {{'Enter a Valid OTP' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<button class="btn btn-primary cir cir_btn" style="background: linear-gradient(to bottom, #FF0000 0% , #563b3b 100%);border-color: #c30707;font-weight: bold;padding: 10px; margin: 2% 0px 2% 9px; float: left;" (click)="closePopup(true)">{{'Verify' | translate}}</button>
<button class="btn btn-primary cir cir_btn" style="background: linear-gradient(to bottom, #FF0000 0% , #563b3b 100%);border-color: #c30707;font-weight: bold;padding: 10px; margin: 2% 0px 2% 9px; float: left;" (click)="closePopup(false)">{{'Cancel' | translate}}</button>

