.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}
.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.tableFixHead {
  overflow-y: auto;
  height: 200px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
}
th {
  background: #eee;
}

.mat-cell {
  font-size: 14px;
  min-height: 48px;
  /* text-align: center; */
  /* border-right: 1px solid black; */
  padding: 4px;
  text-align: left;
}
.mat-header-cell {
  font-weight: bold;
  font-size: 14px;
  min-height: 48px;
  padding: 4px;
}
.mat-elevation-z8 {
  overflow: scroll;
  max-height: 500px;
}

.title-purchaseorder {
  color: #a6a7ab !important;
  font-family: Open sans;
  font-size: 13px;
}
.title-totalpurchs {
  margin-top: 17px;
  margin-bottom: 20px;
  padding: 0px 0px 0px 0px;
}
.hed-btn-colse {
  padding: 5px 0px;
  margin-top: -12px;
  margin-right: 41px;
  background: none;
  border: none;
  float: right;
  position: relative;
}
.card-tab-size {
  margin-bottom: 2%;
  width: 96%;
}
.card-tab-style{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 105%;
    padding: 3px;
    height: 49px;
}

.open-stage{
  color: #007bff;
}
.placed-stage{
  color: green;
}
.received-stage{
  color: blue;
}
.closed-stage{
  color: rgb(155, 155, 14);;
}
.cancel-stage{
  color: red;
}

.autocomplete-container .input-container input{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0!important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mtsm-2 {
    margin-top: 2%;
  }
  .mat-cell {
    font-size: 14px;
    min-height: 48px;
    padding: 22px;
    text-transform: uppercase;
  }
  .title-totalpurchs{
    margin-top: 17px;
    margin-bottom: 20px;
    padding: 0px 0px 0px 0px;
  }
  .hed-btn-colse {
    padding: 5px 0px;
    margin-top: -12px;
    margin-right: -13px;
    background: none;
    border: none;
    float: right;
    position: relative;
    z-index: 1;
  }
  .modal-dialog {
    width: 100%;
    margin: 0;
    float: right;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .totaldivvcollect {
    width: 100%;
    margin-bottom: 2%;
  }
  .modal-dialog {
    width: 100%;
    margin: 0;
    float: right;
  }
  /* .jobcard-dash{
    width: 100px!important;
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .totaldivvcollect {
    width: 100%;
    margin-bottom: 2%;
  }
  .modal-dialog {
    width: 100%;
    margin: 0;
    float: right;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .totaldivvcollect {
    width: 80%;
    margin-bottom: 2%;
  }
  .modal-dialog {
    width: 60%;
    margin: 0;
    float: right;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .totaldivvcollect {
    width: 70%;
    margin-bottom: 2%;
  }
  .modal-dialog {
    width: 50%;
    margin: 0;
    float: right;
  }
}
/*  */
.mat-elevation-z8 {
  overflow: scroll;
  max-height: 500px;
  display: flex;

  flex-direction: column;
}
.mat-table {
  max-height: 500px;
}

.mobile-label {
  display: none;
}
.mat-header-cell {
  background: #eee;
}
.trim {
  display: none;
}
.insert-web-paddding {
  padding: 1px;
}

@media (max-width: 600px) {
  .mobile-label {
    /* width: 10rem; */
    display: inline;
    font-weight: bold;
  }
  .insert-web-paddding {
    padding: 0;
  }
  /* tr */
  tr.mat-header-row {
    display: none;
  }
  .not-trim {
    display: none;
  }

  .trim {
    display: block;
  }
  /* tr */
  tr.mat-row {
    flex-direction: column;
    align-items: start;
    padding: 2em 0;
  }
  /* .mat-cell {
    font-size: 14px;
    min-height: 25px;
    padding: 2px 22px;
    text-transform: inherit;
  } */

  /* td */
  td.mat-cell {
    font-size: 15px;
    min-height: 25px;
    padding: 2px 22px;
    text-transform: inherit;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  /* mat-row tr */
  tr.mat-row:nth-child(even) {
    background-color: #eee;
    padding-top: 20px;
  }
  .mat-footer-row,
  .mat-row {
    min-height: 0;
  }
  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    border-bottom-style: none;
  }
  .web-show.mat-cell {
    display: none;
  }
}
