<!-- <app-spinlogin></app-spinlogin> -->
<div
  class="closepoup"
  style="float: right; margin-bottom: 8px; margin-top: 7px; margin-right: 10px"
>
  <label
    (click)="closePopup()"
    class="btn btn-white cir"
    style="
      padding: 1px 4px;

      background: none;
      border: none;
    "
    ><i class="fa fa-times fa-2x" aria-hidden="true"></i
  ></label>
</div>
<div
  class="closepoup"
  style="float: right; margin-bottom: 8px; margin-top: 7px; margin-right: 10px"
>
  <button
    class="btn btn-white cir"
    style="padding: 5px 9px"
    data-toggle="tooltip"
    title="Print"
    (click)="print()"
  >
    <i class="fa fa-print" aria-hidden="true"></i>
  </button>
</div>
<div
  class="closepoup"
  data-toggle="tooltip"
  title="PDF"
  style="float: right; margin-bottom: 8px; margin-top: 7px; margin-right: 10px"
>
  <label (click)="pdf()" class="btn btn-white cir" style="padding: 5px 9px"
    ><i class="fa fa-file-pdf-o" aria-hidden="true"></i
  ></label>
</div>
<div
  class="closepoup"
  data-toggle="tooltip"
  title="Share PDF"
  style="float: right; margin-bottom: 8px; margin-top: 7px; margin-right: 10px"
>
  <label (click)="share()" class="btn btn-white cir" style="padding: 5px 9px"
    ><i class="fa fa-envelope" aria-hidden="true"></i
  ></label>
</div>
<div
  *ngIf="allCustomerDetails != undefined"
  class="closepoup"
  data-toggle="tooltip"
  title="Share WhatsApp"
  style="float: right; margin-bottom: 8px; margin-top: 7px; margin-right: 10px"
>
  <a [href]="contactlink" target="_blank">
    <label
      (click)="sharewhatsApp()"
      class="btn btn-white cir"
      style="padding: 5px 9px"
      ><i class="fa fa-whatsapp" aria-hidden="true" style="color: green"></i
    ></label>
  </a>
</div>


<div>
  <div class="wrapper wrapper-content" style="padding: 0" id="contentToConvert">
    <div
      class="ibox-content p-xl"
      style="padding: 0px; color: #333; border: none"
    >

      <h2
        [ngStyle]="{ 'text-align': 'center' }"
        style="
          font-size: 20px;
          font-weight: 600;
          color: #2e2c2c;
          margin: 0 0 5px 0;
        "
      >
        {{ mainTitle }}
      </h2>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td colspan="5" style="border-right: none !important">
                <img
                  [src]="domSanitizer.bypassSecurityTrustResourceUrl(logoimage)"
                  class="img-responsive"
                  alt="TTN"
                  width="200"
                />
              </td>
              <td colspan="5"
                style="text-align: right; border-left: none !important"
              >
                <h3
                  style="color: #663399; font-weight: 800; margin-bottom: 5px"
                >
                  {{ workshopName }}
                </h3>
                <h5
                  class="text-navy"
                  style="margin-bottom: 5px"
                  *ngIf="
                    billingSettings != undefined &&
                    billingSettings.tag_line != ''
                  "
                >
                  {{ billingSettings.tag_line }}
                </h5>
                <address style="margin-bottom: 0px" *ngIf="address != 'none'">
                  {{ address }}
                  <br/>
                  {{ addresspin }}
                </address>
                <p>
                  <span
                    ><i class="fa fa-phone" aria-hidden="true"></i>:
                    {{ phoneNumber }}</span
                  ><br />
                  <span *ngIf="email != 'none'"
                    ><i class="fa fa-envelope" aria-hidden="true"></i>:
                    <u> {{ email }}</u></span
                  >
                </p>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr class="bg_c">
              <td colspan="5" class="tx_l"><b> {{'Order To' | translate}}:</b></td>
              <td colspan="5" style="text-align: right">
                <b> {{'Purchase Order' | translate}}</b>
              </td>
            </tr>
            <tr>
              <td colspan="5" class="tx_l" >
                <span
                  >{{ allData.supplierDetails.customername }} <br
                /></span>
                <!-- <span *ngIf="billingSettings.gst_number">{{'GSTN' | translate}}: {{ billingSettings.gst_number }} <br
                /></span> -->
                <span>{{'Address' | translate}}: {{ allData.supplierDetails.address }} <br/></span>
                <span>{{'Mobile' | translate}}: {{ allData.supplierDetails.mobileOneNo }} <br/></span>
                <span>{{'Email' | translate}}: {{ allData.supplierDetails.email }}</span>
              </td>
              <td colspan="5" class="tx_r">
                <span>{{'PO Number' | translate}}: {{ allData.poNumberdata }} <br/></span>
                <!-- <span *ngIf="allData.BillNo != '' || allData.BillNo !='0'">{{'BillNo' | translate}}: {{ allData.BillNo }} <br/></span> -->
                <span>{{'Date' | translate}}: {{allData.poDateValue}} <br/></span>
                <span>{{'Status' | translate}}: {{allData.poStatus}} <br/></span>
              </td>
            </tr>
            <ng-container>
              <tr class="bg_c">
                <td>#</td>
                <td class="tx_l">
                  <b> {{'Parts Name' | translate}} </b>
                </td>
                <td class="tx_r"><b> {{'HSN/SAC' | translate}}</b></td>
                <td class="tx_r"><b> {{'Quantity' | translate}}</b></td>
                <td class="tx_r"><b> {{'Unit Price' | translate}}({{currency_symbol}}) </b></td>
                <td class="tx_r"><b> {{'Discount' | translate}} </b></td>
                <td class="tx_r"><b> {{'Taxable Amount' | translate}}({{currency_symbol}}) </b></td>
                <td class="tx_r"><b> {{'CGST' | translate}}({{currency_symbol}}) </b></td>
                <td class="tx_r"><b> {{'SGST' | translate}}({{currency_symbol}}) </b></td>
                <td colspan="2" class="tx_r"><b> {{'Amount' | translate}}({{currency_symbol}}) </b></td>
              </tr>
              <tr *ngFor="let data of partsArraySpareLube; let i = index" class="in_ent" >
                <td class="brn">{{ i + 1 }}</td>
                <td class="brn tx_l">{{ data.name }}</td>
                <td class="brn tx_r">{{ data.hsn }}</td>
                <td class="brn tx_r">{{ data.quantity }}</td>
                <td class="brn tx_r">{{ data.price }}</td>
                <td class="brn tx_r">{{ data.discountvalue }}</td>
                <td class="brn tx_r">{{ data.ratefortax }}</td>
                <td class="brn tx_r">{{ data.cgst }}</td>
                <td class="brn tx_r">{{ data.sgst }}</td>
                <td colspan="2" class="brn tx_r">{{ data.tottal }}</td>
              </tr>
              <tr>
                <td></td>
                <td class="tx_l"><b>{{'Total' | translate}}({{currency_symbol}})</b></td>
                <td class="tx_r"></td>
                <td class="tx_r"></td>
                <td class="tx_r"></td>
                <td class="tx_r"></td>
                <td class="tx_r"> {{ taxrate}}</td>
                <td class="tx_r"></td>
                <td class="tx_r"></td>
                <td colspan="2" class="tx_r">
                  <b>{{ allData.JobTotal }}</b>
                </td>
              </tr>
            </ng-container>
            <tr class="bg_c">
              <td colspan="5">{{'Tax Details' | translate}}:</td>
              <td colspan="5" class="tx_l"><b> {{'Amount Details' | translate}}:</b></td>
            </tr>
            <tr>
              <td colspan="5">
                <table class="table sm_tb1">
                  <tbody *ngIf="allData.MaingstTypes.length != 0">
                    <tr *ngFor="let data of allData.MaingstTypes; let i = index">
                      <td class="bn tx_l">
                        {{'SGST' | translate}}@{{ data.Rate / 2 }}%: {{currency_symbol}} {{ data.SGST }}
                      </td>
                      <td class="bn tx_l">
                        
                        {{'CGST' | translate}}@{{ data.Rate / 2 }}%: {{currency_symbol}} {{ data.CGST }}
                      </td>
                      <td class="bn tx_l">
                        {{'GST' | translate}}@{{ data.Rate }}%: {{currency_symbol}} {{ data.GSTAmount }}
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="MaingstTypes.length == 0">
                    <tr>
                      <td class="bn tx_l"></td>
                      <td class="bn tx_l"></td>
                      <td class="bn tx_l"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td colspan="5" class="tx_l"> 

                <table class="table" style="width:100%" >
                  <tr style="border-bottom:1px solid black;">
                    <td class="tx_l" style="border-right:1px solid black;">{{'Total' | translate}}({{currency_symbol}}{{currency_symbol}}) :</td>
                    <td class="tx_r">{{ allData.JobTotal }}</td>
                  </tr>
                  <tr style="border-bottom:1px solid black;">
                    <td class="tx_l" style="border-right:1px solid black;padding:10px;"></td>
                    <td class="tx_r" style="padding:10px;"></td>
                  </tr>
                  <tr style="border-bottom:1px solid black;">
                    <td class="tx_l" style="border-right:1px solid black;padding:10px;"></td>
                    <td class="tx_r" style="padding:10px;"></td>
                  </tr>
                  <tr>
                    <td class="tx_l" style="border-right:1px solid black;">
                      {{'Balance' | translate}}({{currency_symbol}})
                    </td>
                    <td class="tx_l">
                      {{ allData.balance_amount }}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr class="bg_c">
              <td colspan="5" class="tx_l">
                <b>  {{'Amount In Words' | translate}} </b>
              </td>
              <td colspan="5" class="tx_l">
                <b> {{'Authorized Signature' | translate}} </b>
              </td>
            </tr>
            <tr>
              <td colspan="5" class="tx_l" style="padding: 13px">
                {{ amountinwords }}
              </td>
              <td colspan="5">
                <img
                  *ngIf="showSigImage == true"
                  style="margin-right: 306px; width: 87px; margin-bottom: 0px"
                  [src]="
                    domSanitizer.bypassSecurityTrustResourceUrl(signaturephoto)
                  "
                  class="img-responsive"
                  alt="TTN"
                  width="200"
                />

                <h3
                  *ngIf="showSigImage == false"
                  style="font-weight: 800; margin-right: 79%; margin-top: 5px"
                >
                  {{ workshopName }}
                </h3>
                <span *ngIf="image != ''" style="border-right: none !important">
                  <img
                    style="margin-left: 318px; width: 87px; margin-top: -37px;"
                    [src]="image"
                    class="img-responsive"
                    alt="TTN"
                    width="200"
                  />
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /table-responsive -->
    </div>
  </div>
</div>
