/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Open sans";
}
div.cdk-overlay-pane {
  max-width: 100vw !important;
}

app-create-job-cards .mat-tab-label {
  padding: 0px 0px;
  justify-content: flex-end;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.ngb-dp-header {
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  padding-top: 0.25rem;
  background-color: #f8f9fa;
  background-color: var(--light);
}
ngb-datepicker-navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.ngb-dp-arrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  width: 2rem;
  height: 2rem;
}
.ngb-dp-arrow-btn {
  padding: 0 0.25rem;
  margin: 0 0.5rem;
  border: none;
  background-color: transparent;
  z-index: 1;
}
.btn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}
.ngb-dp-navigation-chevron {
  border-style: solid;
  border-width: 0.2em 0.2em 0 0;
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin-left: 0.25em;
  margin-right: 0.15em;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.ngb-dp-navigation-select {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 9rem;
  flex: 1 1 9rem;
}
ngb-datepicker-navigation-select > .custom-select {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 0.5rem;
  font-size: 0.875rem;
  height: 1.85rem;
}
.ngb-dp-arrow.right {
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.ngb-dp-arrow-btn {
  padding: 0 0.25rem;
  margin: 0 0.5rem;
  border: none;
  background-color: transparent;
  z-index: 1;
}
.ngb-dp-months {
  display: -ms-flexbox;
  display: flex;
}
.ngb-dp-month {
  pointer-events: none;
}
.ngb-dp-month-name {
  font-size: larger;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}
ngb-datepicker-month-view {
  display: block;
}
ngb-datepicker-month-view {
  pointer-events: auto;
}
.ngb-dp-month:first-child .ngb-dp-week {
  padding-left: 0.25rem;
}
.ngb-dp-weekdays {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
  background-color: #f8f9fa;
  background-color: var(--light);
}
.ngb-dp-week {
  border-radius: 0.25rem;
  display: -ms-flexbox;
  display: flex;
}
.ngb-dp-day,
.ngb-dp-week-number,
.ngb-dp-weekday {
  width: 2rem;
  height: 2rem;
}

.ngb-dp-weekday {
  color: #5bc0de;
  color: var(--info);
}
.ngb-dp-week-number,
.ngb-dp-weekday {
  line-height: 2rem;
  text-align: center;
  font-style: italic;
}
.small,
small {
  font-size: 100%;
  font-weight: bold;
  color: #c30707;
}
.ngb-dp-month:first-child .ngb-dp-week {
  padding-left: 0.25rem;
}
.ngb-dp-week {
  border-radius: 0.25rem;
  display: -ms-flexbox;
  display: flex;
}
.dropdown-item.active {
  background-color: #cacac1;
}
.dropdown-menu {
  overflow: scroll;
  height: 185px;
}
td .dropdown-list {
  position: relative !important;
}
.timepicker-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999 !important;
  pointer-events: none;
}

.blue-bg,
.bg-primary {
  background-color: #1c84c6 !important;
  color: #ffffff !important;
}

input.form-control:disabled {
  background: rgb(210, 208, 208) !important;
}

select.form-control:disabled {
  background: rgb(210, 208, 208);
}
textarea.form-control.cir:disabled {
  background: rgb(210, 208, 208);
}

.totaldiv {
  margin: -12px;
  margin-bottom: -25px;
  position: inherit;
  cursor: pointer;
}
.countbutton {
  background: #42413d;
  color: white;
  width: 27px;
  height: 26px;
  text-align: center;
  border-radius: 21px;
  margin-left: 60px;
}
.totaljob button {
  background: #ce0f18;
  width: 59px;
  height: 57px;
  text-align: center;
  color: white;
  border-radius: 28px;
}

label.control-label.txt_lbl.count {
  padding-top: 5px;
  padding-left: 9px;
  color: #42413d;
}

li.nav-item {
  padding: 29px 77px 17px 51px;
}
li.nav-item.active a {
  color: white !important;
  background: linear-gradient(to bottom, #ff0000 0%, #563b3b 100%) !important;
  border-color: #ce0e17 !important;
  margin-left: -52px;
  margin-top: -10px;
  width: 140px;
}

li.nav-item.active {
  background: none;
  border-left: none;
}
.nav-tabs.setting > li > a {
  border-bottom: none !important;
  margin-left: -53px;
  margin-top: -10px;
  width: 140px;
}
span.settingstab {
  color: white;
  font-size: large;
}
.image-upload > input {
  display: none;
}

.image-upload img {
  width: 80px;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #c30707;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c30707;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.autocomplete-container {
  height: 41px !important;
  margin-left: 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: none !important;
  border: 1px solid #e5e6e7;
}
.col-lg-4.col-sm-4.col-md-4.jobcard.data .autocomplete-container {
  height: 34px !important;
}
.col-lg-4.col-sm-4.col-md-4.jobcard.data
  input.ng-untouched.ng-pristine.ng-valid {
  height: 32px !important;
}
.select-time {
  color: #fff;
  background: #5656e6;
  padding: 5px;
  border-radius: 5px;
  margin-right: 3px;
  cursor: pointer;
}
span.select-time:hover {
  background: #ce0e17;
}

.select-timeend {
  color: #757574;
  background: #fff;
  padding: 11px;
  border-radius: 5px;
  margin-left: -48px;
  cursor: pointer;
  box-shadow: 0px 3px 11px;
}
.select-timeend.active {
  background: #5656e6;
  color: #fff;
}
span.select-timeend:hover {
  background: #5656e6;
  color: #fff;
}

.select-timeendweb {
  color: #757574;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-right: 3px;
  cursor: pointer;
  box-shadow: 0px 3px 7px;
}
.select-timeendweb.active {
  background: #5656e6;
  color: #fff;
}
span.select-timeendweb:hover {
  background: #5656e6;
  color: #fff;
}

.autocomplete-container .input-container input {
  height: 39px !important;
  /* width: 78% !important;  */
  margin-left: 0px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 20px;
  /* border-top-left-radius: 127px;
    border-bottom-left-radius: 102px; */
}
span.search_invenall .autocomplete-container {
  width: 105%;
}
span.search_invenall .autocomplete-container .input-container input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* width: 107%; */
}
.counter-dash .autocomplete-container .suggestions-container {
  width: 100%;
}
.counter-dash .autocomplete-container {
  height: 41px !important;
  /* width: 67%; */
  margin-left: 1px;
  box-shadow: none !important;
  border: 0px solid #e5e6e7;
}
.counter-dash .autocomplete-container .input-container input {
  height: 39px !important;
  margin-left: 0px;
  width: 100% !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.po-dash .autocomplete-container .suggestions-container {
  width: 100%;
}
.po-dash .autocomplete-container {
  height: 41px !important;
  /* width: 67%; */
  margin-left: 1px;
  box-shadow: none !important;
  border: 0px solid #e5e6e7;
}
.po-dash .autocomplete-container .input-container input {
  height: 39px !important;
  margin-left: 0px;
  width: 165% !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.jobcard-dash .autocomplete-container .suggestions-container {
  width: 78%;
}
.jobcard-dash .autocomplete-container {
  height: 41px !important;
  width: 123%;
  margin-left: 1px;
  box-shadow: none !important;
  border: 0px solid #e5e6e7;
}
.jobcard-dash .autocomplete-container .input-container input {
  height: 39px !important;
  margin-left: 0px;
  width: 78% !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.jobcard-dashhf .autocomplete-container {
  height: 42px !important;
  margin-left: 1px;
  box-shadow: none !important;
  border: 1px solid #e5e6e7;
  /* width: 355%; */
  width: 100%;
}
.autocomplete-container .input-container .x i {
  display: none;
}
/* .barchar .highcharts-container{
    height: inherit !important;
  } */
.jobcard-dashhf.autocomplete-container .input-container input {
  height: 39px !important;
  margin-left: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.online .autocomplete-container {
  height: 41px !important;
  margin-left: 1px;
  box-shadow: none !important;
  border: none;
}
.online .autocomplete-container .input-container input {
  height: 39px !important;
  margin-left: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 50% !important;
  margin-top: 1px;
}
.online ng-autocomplete.ng-autocomplete.ng-untouched.ng-pristine.ng-valid {
  width: 71% !important;
  margin-top: 1px;
}
.counter ng-autocomplete.ng-autocomplete {
  width: 100% !important;
}
.jobcard-dash.data {
  width: 86%;
  display: flex;
}
.jobcard-dashhf.data {
  width: 86%;
  display: flex;
}
.online.data {
  width: 86%;
  display: flex;
}
.counter.data {
  /* width: 86%; */
  display: flex;
}
.autocomplete-container .suggestions-container.is-visible {
  z-index: 9;
}
span.online.data .suggestions-container.is-visible {
  width: 50%;
}
span.online.data .x.ng-star-inserted {
  display: none;
}
.col-sm-6.jobcard .autocomplete-container .input-container input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.col-sm-6.jobcard .autocomplete-container {
  border: 0px;
}

.col-sm-6.inventory .autocomplete-container .input-container input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.history th {
  border-top: 0px none !important;
  background: none !important;
  font-size: 13px;
  color: #b9b9b9;
}

.history td {
  border-top: 0px none !important;
  text-align: left !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1 !important;
}
.historyy th {
  border-top: 0px none !important;
  background: none !important;
  padding: 0px !important;
  font-weight: normal;
  font-size: 14px;
}

.historyy td {
  border-top: 0px none !important;
  padding: 0px !important;
  font-weight: normal;
  font-size: 14px;
}
.inventory th {
  background: none !important;
  line-height: 0 !important;
}
.inventory-data {
  background: white;
  box-shadow: 0px 3px 8px;
  padding: 12px 14px;
  border-radius: 13px;
  width: 92%;
  margin-left: 29px;
}
button.btn.btn-primary.createjobcard {
  background-color: #fff;
  color: #c30707;
  border-color: #c30707;
  font-family: "Open sans";
}

button.btn.btn-primary.createjobcard:hover {
  background-color: #c30707;
  color: #fff;
  border-color: #c30707;
  font-family: "Open sans";
}
button.btn.btn-primary.reshedule:hover {
  background-color: #537bff;
  color: #fff;
  border-color: #537bff;
  font-family: "Open sans";
}

button.btn.btn-primary.reshedule {
  background-color: #fff;
  color: #537bff;
  border-color: #537bff;
  font-family: "Open sans";
}

button.btn.btn-primary.confirm:hover {
  background-color: #fff;
  color: #537bff;
  border-color: #537bff;
  font-family: "Open sans";
}

button.btn.btn-primary.confirm {
  background-color: #537bff;
  color: #fff;
  border-color: #537bff;
  font-family: "Open sans";
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  background-color: #ff5454;
  border-color: #ff5454;
}
button.btn.btn-primary.createbookjob:hover {
  background-color: #fff;
  color: #43425d;
  border-color: #43425d;
  font-family: "Open sans";
}

button.btn.btn-primary.createbookjob {
  background-color: #43425d;
  color: #fff;
  border-color: #43425d;
  font-family: "Open sans";
}
.countbuttonn {
  padding: 10px;
  /* background: linear-gradient(to bottom, #FF0000 0% , #563b3b 100%); */
  color: #fff;
  width: 46px;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Open sans";
}
.totalandname {
  background-color: #ffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 105%;
  background: white;
  box-shadow: 0px 2px 6px;
  padding: 3px;
  height: 49px;
}
.totalandname.totaldivv {
  background-color: #e6e0e0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 105%;
  background: #e6e0e0;
  box-shadow: 0px 2px 6px;
  padding: 3px;
  height: 49px;
}
.amountofjob {
  float: right;
  margin-top: -18px;
}
.namejob {
  float: right;
  margin-top: -41px;
}
.lineadd {
  border-top: 1px solid #c5c7d4;
  width: 9em;
  float: right;
  margin-top: -21px;
}
.totaldivv {
  background-color: #eae7e7;
}
.totalandname.active {
  background-color: #e6e0e0;
  border-radius: 5px;
  width: 105%;
  background: #e6e0e0;
  box-shadow: 0px 2px 6px;
  padding: 3px;
  height: 49px;
}
.reports-label {
  font-size: 16px;
  font-family: "Open sans";
}
.report-select {
  width: 125px;
  height: 32px;
  border-radius: 5px;
}
.row.details {
  text-align: left;
  margin-left: 10px;
}
th.mat-header-cell {
  font-size: 16px;
}
.pricing-plan.list-unstyled.selected {
  text-align: center;
  font-size: 16px;
  padding: 12px;
  background-color: #c5c7d4;
  border: #ce0e17 2px solid;
}
.pricing-plan.list-unstyled {
  text-align: center;
  font-size: 16px;
  padding: 12px;
}
.pricing-plan:hover {
  border: #ce0e17 2px solid;
  border-radius: 3px;
}
.pricing-price {
  padding: 6px;
  font-family: Open sans;
}
.link-edit {
  border-bottom: 1px solid currentColor;
}

.link-edit:hover {
  color: #c30707;
  font-weight: bold;
  border-bottom: 1px solid #ce0e17;
}
.row.border-bottom.extend {
  position: fixed;
  z-index: 9;
  width: 100%;
}
.row.border-bottom {
  position: fixed;
  z-index: 9;
  width: 86%;
}
.cir {
  border-radius: 5px;
}
i.fa.fa-times.fa-2x:hover {
  color: #c30707;
}
.col-sm-2.jobbutton.ng-star-inserted button.btn.btn-primary:hover {
  background-color: #c30707 !important;
  border-color: #c30707;
}
.mat-paginator-page-size-select {
  width: 37px;
}
.mat-calendar-table-header {
  color: rgb(0, 0, 0) !important;
}
.mat-calendar-body-selected {
  background-color: #c30707 !important;
}
.mat-icon-button:hover {
  color: #c30707 !important;
}
.mat-calendar-cell-semi-selected {
  background-color: #efa3a3;
}
.mat-calendar-body-begin-range:not(.mat-calendar-body-end-range) {
  border-radius: 100% 0 0 100%;
  background-color: #efa3a3;
}
.mat-calendar-body-end-range:not(.mat-calendar-body-begin-range) {
  border-radius: 0 100% 100% 0;
  background-color: #efa3a3;
}
.mat-calendar-table-header th {
  font-size: 12px;
  font-weight: bold;
}
.mat-datepicker-content {
  border-radius: 5px;
}
.mat-datepicker-toggle-active {
  color: #c30707;
}
.jobcard .autocomplete-container .input-container input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
  background-color: #c30707;
}
.totaljobbb {
  float: right;
  margin-top: -21px;
}
.totaldivvcollect {
  background-color: #fff;
  height: 75px;
  width: 90%;
}
.namejobb {
  padding: 4px 10px 1px 13px;
}
.line {
  width: 605px;
  border-bottom: 2px solid #90e941;
  position: absolute;
  margin-top: 12px;
}
.dottra {
  height: 15px;
  width: 14px;
  background-color: #90e941;
  border-radius: 50%;
  display: inline-block;
}
label.control-label.odometter {
  font-size: 16px;
  border-bottom: 1px solid #ce0e17;
  margin-top: -1%;
  margin-left: -317px;
}
.bottombutton {
  display: -webkit-inline-box;
  display: inline-flex;
  background-color: #52524f;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 5px;
  margin-left: 1px;
}
.allinvi {
  margin-top: 14px;
  display: inline-flex;
  padding: 8px 308px;
}
.smslabe {
  margin-left: 12px;
  padding: 7px;
}
.updatejob {
  background: linear-gradient(to bottom, #ff0000 0%, #563b3b 100%);
  border-color: #c30707;
  font-weight: bold;
  padding: 4px;
  width: 100%;
  margin: 12% 0 2% 0;
}
.worksaddupdate {
  cursor: pointer;
  font-size: 38px;
  color: #c30707;
  font-weight: bold;
  padding: 0px 591px;
}
.saveset {
  background: white;
  border: white;
  color: black;
  width: 58px;
  margin-left: 537px;
}
span.jobcard-dash.data {
  width: 86%;
  display: flex;
}
span.jobcard-dashhf.data {
  width: 86%;
  display: flex;
}

.enduser .navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.enduserr .navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.enduser {
  background-color: #f3f3f4;
}

.detailsjobcard::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
.detailsjobcard {
  background-color: #fff;
  /* width: 30%; */
  margin-top: 4px;
  margin-left: 12px;
  padding: 15px;
}
.nav.data > li.active {
  border-left: none;
  background: #cecbc0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none;
  /* border-color: #dddddd #dddddd rgba(0, 0, 0, 0); */
  /* border-bottom: #f3f3f4; */
  /* border-image: none; */
  /* border-style: solid; */
  /* border-width: 1px; */
  /* color: #f3f3f3; */
  cursor: default;
}
.nav > li > a {
  color: #fff;
}
.nav > li > a {
  /* color: #d0cfce; */
}
.nav-tabs > li > a {
  color: #fff;
  font-weight: 600;
  padding: 5px 20px 5px 25px;
  background: #42423f;
  text-align: center;
  /* border-bottom: 6px solid #fff; */
  margin-bottom: 6px;
}
.detailsjobcard.checkonline {
  pointer-events: none;
  opacity: 0.5;
  background: #ccc;
}
.listbook {
  cursor: pointer;
  background-color: #fff;
  padding: 10px;

  font-size: 13px;
  box-shadow: 0px 3px 11px;
}
.autocomplete-container .suggestions-container .complete-selected,
.autocomplete-container .suggestions-container ul li:hover {
  font-weight: bold;
}
.paidone {
  color: #39b339;
  float: right;
  margin-right: 97px;
}
.mat-step-icon .mat-icon {
  display: none;
}
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #757575;
}
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #57e057;
}
.mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover {
  background-color: #fff;
}
.pilot .mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover {
  background-color: #f3f3f4;
}

.mat-step-header .mat-step-label,
.mat-step-header .mat-step-optional {
  display: none;
}
.mat-step-header .mat-step-label.mat-step-label-active {
  display: none;
}
.balone {
  color: #c01616;
  float: right;
  margin-right: 56px;
}
.listbook.active {
  border-bottom: 5px solid #c30707;
}
.footericon {
  font-size: 24px;
  outline: none !important;
}
h6.footername {
  font-size: 14px;
  margin-top: 5px;
}

.footernameconatct {
  font-size: 14px;
  margin-top: 5px;
  color: green;
}

.homeicon:hover {
  color: #ff3333;
}
.footerdata .active {
  color: #ff3333;
}
.serviceicon:hover {
  color: #ff3333;
}
.bookicon:hover {
  color: #ff3333;
}

.homeicon {
  color: #9c9b9b;
  cursor: pointer;
}

.serviceicon {
  color: #9c9b9b;
  cursor: pointer;
}

.bookicon {
  color: #9c9b9b;
  cursor: pointer;
}
.cus.panel-body {
  padding: 0px;
}
.col-lg-12.col-sm-12.col-md-12.col-xs-12.cusre .mat-expansion-panel-body {
  padding: 0 0px 0px;
}
/* .gargedetails{
  margin-left: 108px;
} */
.topgargedetails {
  margin-top: 11px;
}
.topgargedetailsjob {
  margin-top: 100px;
}
.linegarage {
  width: 97.5%;
  border-bottom: 1px solid #dcdada;
  position: absolute;
  margin-left: -22px;
  margin-top: -25px;
}
.linegarageda {
  width: 97.5%;
  border-bottom: 1px solid #dcdada;
  position: absolute;
  margin-left: -22px;
  margin-top: -16px;
}
.gargeemail span a:hover {
  color: #7487ff;
  text-decoration: underline;
}
.garagetitle span:hover {
  color: #7487ff;
  text-decoration: underline;
}

.font-w-800 {
  font-weight: 800;
}
.font-w-700 {
  font-weight: 700;
}
.font-w-b {
  font-weight: bold;
}
.font-s-12 {
  font-size: 12px;
}
.font-s-14 {
  font-size: 14px;
}
.text-black {
  color: #000000;
}
.text-red {
  color: #c70c0c;
}
.bg-white {
  background: #fff;
}

@media screen and (max-width: 1024px) {
  label.control-label.odometter {
    margin-left: -232px;
  }
  span.jobcard-dash.data {
    width: 57%;
    display: flex;
  }
  span.jobcard-dashhf.data {
    width: 57%;
    display: flex;
  }
  span.online.data {
    width: 57%;
    display: flex;
  }
  .report-select {
    width: 93px;
  }
  .bottombutton {
    width: 95%;
  }
  .allinvi {
    padding: 8px 0px;
  }
  .smsla {
    margin-left: -75px;
  }
  .smslabe {
    margin-left: 10px;
  }
  .updatejob {
    margin-left: -35px;
  }
  .cir_btn {
    width: 62%;
  }
  .mat-icon-button {
    width: 0px !important;
  }
  li.nav-item {
    padding: 29px 14px 17px 51px;
  }
  .saveset {
    background: white;
    border: white;
    color: black;
    width: 58px;
    margin-left: 323px;
  }
  .togopclo {
    display: contents;
  }
  .worksaddupdate {
    padding: 0px 453px;
  }
}

@media screen and (max-width: 1100px) {
  label.control-label.odometter {
    margin-left: -232px;
  }
  span.jobcard-dash.data {
    width: 57%;
    display: flex;
  }
  span.jobcard-dashhf.data {
    width: 57%;
    display: flex;
  }
  span.online.data {
    width: 57%;
    display: flex;
  }
  .report-select {
    width: 93px;
  }
  .bottombutton {
    width: 95%;
  }
  .allinvi {
    padding: 8px 0px;
  }
  .smsla {
    margin-left: -75px;
  }
  .smslabe {
    margin-left: 10px;
  }
  .updatejob {
    margin-left: -35px;
  }
  .cir_btn {
    width: 62%;
  }
  .mat-icon-button {
    width: 0px !important;
  }
  li.nav-item {
    padding: 29px 14px 17px 51px;
  }
  .saveset {
    background: white;
    border: white;
    color: black;
    width: 58px;
    margin-left: 323px;
  }

  .togopclo {
    display: contents;
  }
  .worksaddupdate {
    padding: 0px 453px;
  }
}

@media screen and (max-width: 1200px) {
  label.control-label.odometter {
    margin-left: -232px;
  }
  span.jobcard-dash.data {
    width: 57%;
    display: flex;
  }
  span.jobcard-dashhf.data {
    width: 57%;
    display: flex;
  }
  span.online.data {
    width: 57%;
    display: flex;
  }
  .report-select {
    width: 93px;
  }
  .bottombutton {
    width: 95%;
  }
  .allinvi {
    padding: 8px 0px;
  }
  .smsla {
    margin-left: -75px;
  }
  .smslabe {
    margin-left: 10px;
  }
  .updatejob {
    margin-left: -35px;
  }
  .cir_btn {
    width: 62%;
  }
  .mat-icon-button {
    width: 0px !important;
  }
  li.nav-item {
    padding: 29px 14px 17px 51px;
  }
  .saveset {
    background: white;
    border: white;
    color: black;
    width: 58px;
    margin-left: 323px;
  }

  .togopclo {
    display: contents;
  }
  .worksaddupdate {
    padding: 0px 453px;
  }
}
@media (max-width: 768px) {
  .paidone {
    margin-right: 0px;
  }
  .balone {
    margin-right: -16px;
  }
  .footerdata {
    padding: 7px 0px 4px 0px;
  }

  /* .serviceicon {
      margin-left: -18px;
    }
    .bookicon {
      margin-left: 7px;
    }
    .contacticon {
      margin-left: -18px;
    } */
  .gargedetails {
    margin-left: 26px;
  }
  .linegarage {
    width: 92%;
    border-bottom: 1px solid #dcdada;
    position: absolute;
    margin-left: -22px;
    margin-top: -25px;
  }
  .linegarageda {
    width: 92.5%;
    border-bottom: 1px solid #dcdada;
    position: absolute;
    margin-left: -22px;
    margin-top: -16px;
  }
}


@media print {
/*   
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
}
  
body, html, .pdf-generate, 
 .preview-pdf, 
.scrollable-page, .ps, .panel {
  height: 100% !important;
  width: 100% !important;
  display: inline-block;
}
.preview-pdf thead {
 
  page-break-before: auto;
  display: table-row-group;
  background-color: gainsboro !important;
  }
  
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-before: always; }
  td    { page-break-inside:avoid; page-break-before: always; }
  */
}
body{
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}